/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/

/* medium */

@media all and (min-width: 1025px) and (max-width: 1440px) {

    body {
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
    }

    .flex {
        display: flex;
    }

    .flex-column {
        display: flex;
        flex-direction: column;
    }

    .flex-column-reverse {
        display: flex;
        flex-direction: column-reverse;
    }

    .flex-center-column {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .diplay-none {
        display: none;
        margin: 0;
    }

    .background-ivory {
        background-color: #F3EAE2;
    }
    
    .background-purple {
        background-color: #540B51;
    }

    .padding-left {
        padding-left: 20vh;
    }

    .padding-left-5 {
        padding-left: 5vh;
    }

    .padding-left-10 {
        padding-left: 10vh;
    }
    
    .padding-bottom {
        padding-bottom: 10vh;
    }

    .padding-bottom-5 {
        padding-bottom: 5vh;
    }

    .justify-center {
        justify-content: center;
    }
    
    .justify-between {
        justify-content: space-between;
    }

    .text-center {
        text-align: center;
    }

    .gap-1 {
        gap: 1rem;
    }

    .gap-3 {
        gap: 3rem;
    }

    nav {
        display: flex;
        background-color:#540B51;
        justify-content: space-between;
        padding: 3vh 0 0 3vh;
    }
    
    .nav-a {
        text-decoration: none;
        color: white;
        font-weight: bold;
    }
    
    .try-for-free {
        background-color: white;
        color: #540B51;
        padding: 1vh;
        border-radius: 5px;
        text-transform: uppercase;
        font-weight: bold;
        
    }
    
    .logo {
        width: 20%;
        height: auto;
    }
    
    ul {
        display: flex;
        list-style: none;
        margin: 0;
    }
    
    .div1-nav {
        display: flex;
        align-items: center;
        width: 60%;
    }
    
    .div2-nav {
        display: flex;
        justify-content: right;
        width: 40%;
        padding-right: 3vh;
    }
    
    .button-nav-search {
        background-color: #540B5100;
        border: 0;
        /* padding-right: 2vh; */
    }
    
    .button-nav-menu {
        display: none;
        background-color: #540B5100;
        border: 0;
    }

    header {
        display: flex;
        max-width: 1440px;
        width: 100%;
        background-color:#540B51;
        padding-bottom: 15vh;
        padding-right: 30vh;
    }
    
    h1 {
        color: white;
        font-size: 5rem;
        padding-left: 3vh;
        width: 90%;
    }
    
    .img-div2-header {
        width: 100%;
        height: auto;
        padding-top: 13vh;
    }
    
    .slack-free {
        color: white;
        font-weight: bold;
        font-size: 1.8rem;
        padding-left: 3vh;
        width: 85%;
    }
    .paragraph-yelow {
        color: #ECB12F;
    }
    
    .sign-email {
        background-color: white;
        color: #540B51;
        width: 90%;
        border-radius: 5px;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1.1rem;
        padding: 3vh 5vh;
        border: 0;
        margin: 0 2rem 1rem 2rem;
    }
    .sign-google {
        display: flex;
        align-content: center;
        background-color: #4285F4;
        color: white;
        width: 90%;
        border-radius: 5px;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1.1rem;
        padding: 1vh;
        border: 0;
        margin: 0 2rem 0 2rem;
        
    }

    .logo-google {
        width: 8%;
        height: auto;
        background-color: white;
        border-radius: 5%;
        padding: 0.5rem;
        text-align: left;
        /* margin-right: 15.3vh; */
    }

    .span-boto-google {
        display: flex;
        align-items: center; 
        padding-left: 20%;
              
    }

    .paragraph-trusted {
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        padding: 5vh 0 3vh 0;
        margin: 0;
        font-size: 1.5rem;
    } 
    
    .div-logos {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0 3vh 15vh 3vh;
    }
    
    .airbnb {
        width: 15%;
        height: auto;
        padding-right: 2rem;
    }
    .nasa {
        width: 8%;
        height: auto;
        padding-right: 2rem;
    }
    .uber {
        width: 15%;
        height: auto;
        padding-right: 2rem;
    }
    .target {
        width: 7%;
        height: auto;
        padding-right: 2rem;
    }
    .ny-times {
        width: 30%;
        height: auto;
        padding-right: 2rem;
    }
    .spotify {
        width: 20%;
        height: auto;
    }

    .section-bring-move {
        display: flex;
        justify-content: space-between;
        padding-right: 10vh;
    }

    .section-choose {
        display: flex;
        justify-content: space-between;
    }
    
    .img-main-connectedness {
        width: 80%;
        height: auto;
    }

    .img-main-flexibility {
        width: 80%;
        height: auto;
        padding-left: 10rem;
    }
    .img-main-speed {
        width: 80%;
        height: auto;
        padding-bottom: 5vh;
    }
    
    h2 {
        background-color: #F3EAE2;
        width: 80%;
        text-align: left;
        font-size: 3rem;
        font-weight: bold;
        width: 85%;
        padding: 5vh 0 3vh 10vh;
        margin: 0;
    }
    
    .p-main {
        width: 70%;
        font-weight: bold;
        padding: 0 0 3vh 10vh;
        margin: 0;
    }
    
    .h3-teams {
        width: 100%;
        text-align: center;
        font-size: 4rem;
        font-weight: bold;
        padding: 5vh 0 2vh 0;
        margin: 0;
    }
    
    .p-slack {
        text-align: center;
        font-weight: bold;
        font-size: 1.5rem;
    }

    .div-button-meet-talk {
        display: flex;
        justify-content: center;
    }
    
    .boto-meet {
        background-color: #540B51;
        border: 0;
        color: white;
        padding: 3vh 5vh;
        border-radius: 5px;
        text-transform: uppercase;
        font-weight: bold;
        margin: 0 2vh 5vh 0;
        font-size: 1rem;
    }
    
    .boto-talk {
        background-color: white;
        border-color: #540B51;
        border-radius: 5px;
        padding: 3vh 5vh;
        color: #540B51;
        text-transform: uppercase;
        font-weight: bold;
        margin: 0 0 5vh 0;
        font-size: 1rem;
    }

    .ul-percentatges {
        display: flex;
        justify-content: space-around;
        max-width: 1440px;
        width: 100%;
        padding: 0;
        align-items: center;
    }
    
    .span-percentatges {
        color: #540B51;
        font-size: 4rem;
        font-weight: bold;
        align-items: center;
        /* padding: 0 10vh; */
        margin: 0;
    }
    
    .p-percentatges {
        width: 20vh;
        font-weight: bold;
        /* padding: 0 10vh; */
        margin: 0;
    }
    
    .h3-welcome {
        color: white;
        font-size: 3rem;
        text-align: center;
        padding: 5vh 0 0 0;
    }

    .div-button-try-talk {
        display: flex;
        flex-direction: column;
    }
    
    .boto-talk-welcome {
        background-color: #540B51;
        border-color: white;
        border-radius: 5px;
        padding: 3vh 5vh;
        color: white;
        text-transform: uppercase;
        font-weight: bold;
        margin: 0 10vh 5vh 10vh;
        font-size: 1rem;
    }
    .try-for-free-welcome {
        background-color: white;
        color: #540B51;
        padding: 3vh 5vh;
        border: 0;
        border-radius: 5px;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1rem;
        margin: 0 10vh 2vh 10vh;
    }
    
    .logo-footer {
        width: 6%;
        height: auto;
        padding: 3vh 2vh;
    }

    .footer-list-why {
        display: flex;
        flex-direction: column;
        font-size: 1.5rem;
        padding-left: 2vh;
        margin: 0;
    }
    
    .footer-list {
        display: flex;
        flex-direction: column;
        padding-right: 5vh;
        padding-bottom: 4vh;
        margin: 0;
    }
    
    .li-bold {
        font-size: 1.1rem;
        font-weight: bold;
        padding: 2vh 2vh 1vh 0;
    }
    
    .li-footer {
        font-size: 1rem;
        padding: 2vh 0;
    }
    
    .footer-status {
        display: flex;
        justify-content: space-between;
        font-weight: bold;
        font-size: 1rem;
        padding: 4vh 5vh 0 2vh;
        
    }
    
    .logos-xarxes {
        font-size: 1.5rem;
        padding: 3vh 0 3vh 2vh;
        justify-content: baseline;
    }
    
    .copy-footer {
        padding-left: 2vh;
        padding-bottom: 10vh;
        font-size: 1.1rem;
    }
}